<h1>O stronie</h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th>Użyta technologia</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ASP.NET CORE 3.1 (MVC)</td>
    </tr>
    <tr>
        <td>Microsoft SQL Server</td>
    </tr>
    <tr>
        <td>HTML5</td>
    </tr>
    <tr>
        <td>CSS3</td>
    </tr>
    <tr>
        <td>JavaScript</td>
    </tr>
    </tbody>
</table>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Uwagi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>widoki zgodne ze standardem HTML5 walidowane przez: https://validator.w3.org/  </td>
        </tr>
        <tr>
            <td>Style zgodne ze standardem CSS3 walidowane przez: https://jigsaw.w3.org/css-validator/</td>
        </tr>
        <tr>
            <td>Serwis wyhostowany na platformie microsoft Azure i tam tez znajduje sie baza danych</td>
        </tr>
    <tr>
        <td>Po serwisie można poruszać sie czytnikiem, np NVDA</td>
    </tr>
    <tr>
        <td>Repozytorim z kodem na platofmie GitHub</td>
    </tr>
    </tbody>
</table>