
<h1>Dokonano rezerwacji</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Udało Ci sie pomyślnie dokonać rezerwacji</h5>
        
        <button class="btn btn-success" type="submit" asp-action="Index" asp-controller="Home">
            Wróć do formularza zgłoszeniowego
        </button>
    </div>
</div>